* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.7z binary
*.docx binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.pptx binary
*.webp binary
*.xlsx binary
*.zip binary
